# Ignore Python cache files
__pycache__/
# Ignore environment files
# You can uncomment the following lines if you want to ignore specific environment files
.env
# Ignore IDE-specific files
.idea/
.vscode/
# Ignore log files
*.log
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python bytecode files
*.pyc
# Ignore virtual environment directories
venv/
chat/instructions_old/
#ignore pid files
*.pid
#ignore backup files
data/backup/*.csv
#ignore prediction files
inference/preds/

logs/
